@import 'bootstrap';

$grey: #777;
$black: #000;
$white: #fff;
$mortar: #555;
$nero: #222;
$white_smoke: #eaeaea;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  header {
    background-color: $black;
    ul.navbar-nav {
      flex-direction: initial;
      li {
        padding: 8px;
        a {
          color: $white;
          font-weight: bold;
        }
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: $white;
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-top: 9px;
      font-weight: bold;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }
  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $white_smoke;
    color: $grey;
    a {
      color: $mortar;
      &:hover {
        color: $nero;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
}
